body {
    background-color: grey;
}

h1{
    text-align: center;
    color:purple;
}

p{
    font-size: 10px;
}

.olicar {
    color: blue;
}

.deitado {
    font-style: italic;
    color: greenyellow;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

